@media only screen and (max-width: 768px)
    
@media only screen and (max-width: 992px)

    .home
        h2
            text-align: center
        .cidrerie
            &__content
                flex-direction: column
                &_img
                    max-width: 70% !important
                &_picto
                    display: none !important
            .btn_video
                margin: 0 auto 1rem 
                width: 40%
                .popup-video
                    padding: 1rem 1.5rem !important


        .navigation
            visibility: hidden

        .products
            &__cards
                display: flex !important
                flex-direction: column !important
                align-items: center
                &_one_texte
                    font-size: 2rem
                    p
                        overflow-wrap: break-word

        .nav_container
            max-width: 900px !important //1920 ou 1500 ou 1200

        .main_container 
            max-width: 900px !important

@media only screen and (max-width: 1300px)

        .navigation
            width: 990px !important
