.admin-bar
    .nav
        top: 32px

.navigation
    width: 80%
    z-index: 99
    position: fixed
    padding: 1rem 0
    background-color: $white
    left: 50% // +
    transform: translateX(-50%) // +
    margin-top: 1rem
    border-radius: 10px
    box-shadow: 0px 0px 10px 2px $green
    .nav
        font-family: 'varelaround'
        font-size: 1rem
        top: 0
        left: 0
        &__ul
            display: flex
            justify-content: space-between
            .menu-item
                display: flex
                text-transform: uppercase
                font-weight: bold
                a
                    text-decoration: none
                    color: black 
            .menu-item:hover
                scale: 110%
                