.products
    &__cards
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 2rem
        &_one
            padding: 1rem 1rem 0.5rem
            border: 2px solid #d1d1d1
            border-radius: 10px
            text-align: center
            z-index: 0
            p
                padding: 0.5rem 0
                    
            
