.products
    &__cards
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 2rem
        &_one
            padding: 1rem 1rem 0.5rem
            border-radius: 10px
            text-align: center
            z-index: 0
            //transition: all 0.1s ease-in-out
            box-shadow: 0px 0px 10px 1px $green
            &_img
                padding-top: 0.75rem
                img
                    transition: all 0.2s ease-in-out
                img:hover
                    scale: 115%
                    transform: translateY(10%)
        &_one:hover
            border: 2px solid $green 
            scale: 105%
            

        
            
